margin: 10px; /* ყველა მხარეს */
margin 10px 20px; /* ვერტიკალურად 10px, ჰორიზონტალურად 20px */
margin: 10px 15px 20px 25px; /* ზედა, მარჯვენა, ქვედა, მარცხენა */

padding: 10px; /* ყველა მხარეს */
padding: 10px 20px; /* ვერტიკალურად 10px, ჰორიზონტალურად 20px */
padding: 10px 15px 20px 25px; /* ზედა, მარჯვენა, ქვედა, მარცხენა */
